<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSvcAbKGjmlw-zXqPJABuWwqOYaYdIvOH-0Gw&usqp=CAU">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
